<table class="w-full">
  <tr>
    <td class="pt-[20px]"></td>
  </tr>
  <tr>   
    <td class="px-[20px] sm:p-[0]"><x-image class="w-[560px]" imgUrl="Hero_Image_2X.png" href="#"></td>
  </tr>
  <tr>
    <td class="text-[#005555] text-[24px] leading-[28px] font-bold pt-[30px] pl-[20px] pr-[20px] text-center">Excepteur sint occaecat cupidatat 
    </td>
  </tr>
  <tr>
    <td class="text-[#444444] text-[16px] leading-[19px] font-normal pl-[50px] pt-[25px] pr-[50px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
  <tr>
    <td class="pt-[30px] px-[20px] text-center"><x-image class="w-[350px]" imgUrl="CTA_2X.png" href="#"></td>
  </tr>
  <tr>
    <td class="pt-[40px]"></td>
  </tr>
</table>
